.MainContainer {
    width: 100%;
    height: var(--main-content);
    border-radius: 6px;
    background: white;
}

.MainContainer > div:last-child {
    height: calc(100% - 72px);
}

.MainContainer :global(.fc-event-title) {
    text-overflow: ellipsis;
}

.MainContainer :global(.fc-day-today) {
    background-color: #ffece7 !important;
}

.eventOnline {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.eventOffline {
    background-color: #049ADB;
    border: 1px solid #049ADB;
}