.MainBody {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.CentralContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}