.MainBody {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: var(--main-padding);
    justify-content: center;
}

.CentralContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}