.MainBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: var(--main-padding);
    position: relative;
}

.CentralContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100vw;
}
